@media screen and (min-width: 500px) and (max-width: 1920px){

  *{
      font-family: 'friz_quadrataregular';
  }

  .hidden{
      display: none;
  }

  body{
      background-color: black;
  }

  .beginning{
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      background-image: url("https://cdn1.dotesports.com/wp-content/uploads/sites/4/2022/01/05175411/Porcelain-Kindred-2048x1152-1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 30%;
      padding: 15%;
  }

  .logoriot{
      padding: 0;
      margin: 0;
      width: 800px;
  }


  .btn1 {
    align-items: center;
    background-color: #4F7FC8;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    margin: 0;
    padding: 10px 50px;
    text-align: center;
    transition: color 100ms;
    margin-right: 10px;
  }

  .btn1:hover,
  .btn1:focus {
    background-color: #294369;
  }

  .btn2 {
      align-items: center;
      background-color: #CCC15D;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-flex;
      font-size: 14px;
      font-weight: bold;
      height: 60px;
      margin: 0;
      padding: 10px 100px;
      text-align: center;
      transition: color 100ms;
    }
    
    .btn2:hover,
    .btn2:focus {
      background-color: #999043;
    }

  .paginaDos{
    display: flex;
    position: relative;
  }

  .bar{
    background-color: black;
  }

  .rito{
    width: 100px;
  }

  .meetyour{
    background-image: url("https://pbs.twimg.com/media/FIWfP8TXIAML9u3?format=jpg&name=4096x4096");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    text-align: center;
    color: #FFFFFF;
  }

  .first{
    padding: 0;
    margin: 0;
    margin-top: 100px;
    font-size: 50px;
  }

  .second{
    padding: 0;
    margin: 0;
    font-size: 80px;
    font-weight: bold;
  }

  .bar2{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: #A2C4D7;
    padding: 10px;
  }

  .roleoptions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .roleOption{
    border: none;
    background-color: #A2C4D7;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .roleOption:hover{
    color: #294369;
  }

  .searches{
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .btnSearch{
      background-color: #1b5374;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-flex;
      font-size: 14px;
      height: 35px;
      margin: 0;
      outline: none;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
  }
    
  .btnSearch:hover,
  .btnSearch:focus {
    background-color: #143c53;
  }

  .searchBar{
    width: 190px;
    height: 28px;
    font-weight: bold;
    color: black;
    background: #839ead;
    border-radius: 5px;
  }

  .filters{
    background-color: #A2C4D7;
  }

  .letters{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .cards{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 90px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    font-size: 20px;
    height: 20%;
  }

  .cards:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 15px 15px #A2C4D7;
  }

  .modalHidden{
    display: none;
    background-image: url("/src/img/background.jfif");
    color: #FFFFFF;
    background-color: #A2C4D7;
    justify-content: center;
    justify-items: center;
    width: 90vw;
    height: 90%;
    margin-left: 5vw;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    top: 0;
    margin-top: 3%;
  }
    
  .btn-close{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30vw;
    margin-left: 70vw;
  }

}